/*
Mobile: <= 480px | hasta 480px máximo
Tablet: >= 481px && <= 834px | desde 481px hasta 834px máximo
Desktop Medium: >= 835px && <= 1200px | desde 835px hasta 1200px máximo
Desktop Large: >= 1441px | desde 1441px en adelante
*/

/*------------------------------------------------------------------------------------------------*/
/* LOGIN TABLET - bajo 834px */
/*------------------------------------------------------------------------------------------------*/
@media (width <= 834px) {
  .login--form--box {
    font-size: 1.4rem;
  }
  .login--form--box h1 {
    font-size: 2.4rem;
  }
  .login--form--box h2,
  .modal--login--section h2 {
    font-size: 1.8rem;
  }
  .login--form button {
    font-size: 1.4rem;
  }
  .login--img {
    height: 100%;
  }
}
/*------------------------------------------------------------------------------------------------*/
/* LOGIN MOBILE - bajo 480px */
/*------------------------------------------------------------------------------------------------*/
@media (width <= 480px) {
  .login {
    grid-template-columns: 1fr;
  }
  .login--img--box {
    display: none;
  }
  .login--form--box {
    font-size: 1.4rem;
  }
  .login--form--box h1 {
    font-size: 2.4rem;
  }
  .login--form--box h2,
  .modal--login--section h2 {
    font-size: 1.8rem;
  }
  .login--form button {
    font-size: 1.4rem;
  }
  .modal--login--section {
    width: 40rem;
  }
}

/*------------------------------------------------------------------------------------------------*/
/* PRODUCTOS DESKTOP - bajo 1500px */
/*------------------------------------------------------------------------------------------------*/
/* HEADER-MAIN------------------------------------------------------------------------------------------------*/
@media (width >= 150rem){
.main--section header:has(.search--filters) span{
  display: none;
}
}